* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Color de fondo azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    width: 400px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10px;
}

h2 {
    color: #4CAF50; /* Color verde */
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    background-color: #007BFF; /* Color azul */
    color: white;
    border: none;
    padding: 12px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    width: 100%;
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
}

#solution {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
    word-wrap: break-word;
}
